body {
	font-family: sans-serif;
	background-color: #d6daf0;
	display: flex;
	flex-wrap: wrap;
	margin: 0 calc(5em + ( 10vw - 100px ));
}

header, main {
	flex-grow: 1;
}
header {
	text-align: right;
	order: 1;
}

img {
	max-width: 100%;
}

.greentext {
	color: #789922;
}

ul.greentext {
	list-style-type: none;
	padding: 0;
}
ul.greentext li::before {
	content: "> ";
}
ul.greentext a {
	color: inherit;
}

p.greentext::before {
	content: "> ";
}
