body {
	font-family: arial,helvetica,sans-serif;
	font-size: 12pt;
	background-color: #eef2ff;
}

main {
	display: flex;
	flex-direction: column;
}

article.chpost {
	background-color: #d6daf0;
	border: 1px solid #b7c5d9;
	border-left: none;
	border-top: none;
	margin-top: 4px;
	margin-left: 1.4em;
	position: relative;

	min-width: 500px;
	width: fit-content;
}
article.chpost::before {
	content: ">>";
	position: absolute;
	color: #d6daf0;
	top: 0;
	left: calc(-1.4em);
}
.chpost hgroup {
	margin-left: 1em;
	padding-top: 5px;
}
article.chpost h2 {
	display: inline;
	font-size: 1em;
	color: #117743;
	font-weight: 700;
}
article.chpost h3 {
	display: inline;
	font-size: 1em;
	font-weight: normal;
}
article.chpost h3::before{
	content: " ";
}
article.chpost h3 a {
	color: black;
	text-decoration: none;
}

.postimg {
	display: block;
}
.postimg span {
	display: block;
}
.postimg img {
	max-width: 125px;
	max-height: 125px;
	float: left;
	margin: 5px 20px;
}

.chpost blockquote {
	margin: 5px 20px;
}

.greentext {
	color: #789922;
}

ul.greentext {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
ul.greentext li::before {
	content: ">";
}
ul.greentext a {
	color: inherit;
}

p {
	margin: 0;
}

p.greentext::before {
	content: ">";
}
